@import
'_custom_bootstrap_vatiables.scss',
'../../bower_components/bootstrap/scss/_functions.scss',
'../../bower_components/bootstrap/scss/_variables.scss',
'../../bower_components/bootstrap/scss/_mixins.scss',
'header';
body {
	margin: 0;
	color: #000;
	min-width:320px;
	font: 12px/14px Arial, Helvetica, sans-serif;
}

body,html,.grid{
	width: 100%;
}
.grid{
	height: 100vh;
}
.img-fluid{
	display: block;
	// max-width: 100%;
	// height: auto;
	// max-height: 100%;
	// width: auto;
	// margin: 0 auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
// img{display: none !important;}
.grid{
	// overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.col{
		border: 1px solid rgba(#ccc,.5);
		overflow: hidden;
		position: relative;
	}
	&.grid_2x2{
		.col{
			max-width: 50%;
			flex:0 0 50%;
			height: 50vh;
		}
	}
	&.grid_3x2{
		.col{
			max-width: 33.33%;
			flex:0 0 33.33%;
		}
	}
	&.grid_3x3{
		.col{
			max-width: 33.33%;
			flex:0 0 33.33%;
			height: 33.33vh;
		}
	}
	&.grid_2x3{
		.col{
			max-width: 50%;
			flex:0 0 50%;
			height: 33.33vh;
		}
	}
}
.btn_line{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	// a{
	// 	padding:7px 15px;
	// 	display: inline-block;
	// 	font-size: 12px;
	// 	line-height: 14px;
	// 	background: orange;
	// 	color: #000;
	// 	border: 1px solid #fff;
	// 	border-radius: 4px;
	// 	&:hover{
	// 		text-decoration: none;
	// 	}
	// }
}